/* body就會變更整個網頁畫面 */
body {
    color: black;
    background-image: url("../images/annie-spratt-PtrGWQG2YQY-unsplash.jpg");
    background-size: contain;
    background-color: #FFD0D0;
    font-family: 微軟正黑體, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
    /* text-align是文字對齊位置left,right,center */
    text-align: center;
    background-color: #DD58D6;
    color: #40128B;
    /* 1rem=16px */
    font-size: 2.5rem;
    font-family: 微軟正黑體, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* 邊框圓弧形 */
    border-radius: 65px;
    /* margin外間距:上右下左;只寫一個值代表所有，寫兩個:上下 & 左右 */
    margin: 24px;
    /* padding內間距，用法同margin */
    padding: 12px;
}

/* 整個頁面 */
#container {
    padding: 1rem;
}

/* 跨目錄取檔案要打兩個點跳出本地 */
form {
    text-align: center;
    background-image: url("../images/javier-santos-guzman-9MR78HGoflw-unsplash.jpg");
    background-size: cover;
    background-color: coral;
    padding: 2px 2px;
    border-radius: 30px;
    width: 60%;
    margin: 0 auto;
    color: white;
}

/* 可以用逗號把不同標籤寫在一起 */
input,
textarea,
label {
    text-align: center;
    margin: 12px 0px;
    font-size: 16px;
}

button {
    border-radius: 6px;
    background-color: #DD58D6;
}

a {
    color: #DD58D6;
}

/* 滑鼠移過去顯示的顏色 */
a:hover {
    color: #F11A7B;
}
/* 滑鼠點擊後的顏色 */
a:active {
    color: #560673;
}

@media screen and (max-width:768px) {
    table{
        width: 100%;
    }
    form {
        width: 100%;
    }
}